<div class="modal fade add-candi home" id="myModal-signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="background:#f7f7f7;padding:0px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6" style="padding:22px;">
              <form #regsiterForm="ngForm" class="form-horizontal" *ngIf="toggleForm">
                <fieldset>
                  <div id="legend text-center">
                    <legend class="text-center">Signup</legend>
                    <p class="tit text-center">Enter your email address to create your account on CV HUNT</p>
                    <div class="alert alert-danger" role="alert" *ngIf="signUpError.display">
                      <p class="tit text-center" style="padding-bottom: 0px;">{{signUpError.message}}</p>
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="signUpSuccess.display">
                      <p class="tit text-center" style="padding-bottom: 0px;">{{signUpSuccess.message}}</p>
                    </div>
                    <span class="pull-left tit">
                      <input name="signupType" type="radio" value="1" (click)="getSugnUpType(signupType.value)" #signupType/> As Agency</span>
                    <span class="pull-right tit">
                      <input name="signupType" type="radio" checked value="2" (click)="getSugnUpType(signupType.value)" #signupType/> As Employer</span>
                    <p class="clearfix"></p>
                  </div>
                  <div class="control-group">
                    <label class="tit control-label" for="username">Username</label>
                    <div class="controls">
                      <input id="username" #username="ngModel" [(ngModel)]="registerData.username" name="username" placeholder="" class="form-control input-lg" type="text">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="tit control-label" for="email">E-mail</label>
                    <div class="controls">
                      <input id="email" name="email" #email="ngModel" [(ngModel)]="registerData.email" placeholder="" class="form-control input-lg" type="email">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="tit control-label" for="password">Password</label>
                    <div class="controls">
                      <input id="password" name="password" #password="ngModel" [(ngModel)]="registerData.password"  placeholder="" class="form-control input-lg" type="password">
                    </div>
                  </div>
                  <div class="control-group">
                    <!-- Button -->
                    <br>
                    <div class="controls">
                      <button (click)="onSignUp()" class="btn btn-success">Create Account</button>
                    </div>
                    <br>
                    <span class="pull-left tit">
                      <i class="fa fa-google-plus"></i> Sign up with Google </span>
                    <span class="pull-right tit" style="cursor: pointer;"  (click)="toggleFormFunction()">
                      <i class="fa fa-sign-in "></i> Login </span>
                  </div>
                </fieldset>
              </form>
              <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="form-horizontal" *ngIf="!toggleForm">
                <fieldset>
                  <div id="legend text-center">
                    <legend class="text-center">Sign-In</legend>
                    <p class="tit text-center">Enter your email address and password to singn in on CV HUNT</p>
                    <p class="clearfix"></p>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="loginError.display">
                    <p class="tit text-center" style="padding-bottom: 0px;">{{loginError.message}}</p>
                  </div>
                  <div class="control-group">
                    <label class="tit control-label" for="email">E-mail</label>
                    <div class="controls">
                      <input id="email"
                      formControlName="email"
                      placeholder="" class="form-control input-lg" type="email">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="tit control-label" for="password">Password</label>
                    <div class="controls">
                      <input id="password"
                      formControlName="password"
                      placeholder="" class="form-control input-lg" type="password">
                    </div>
                  </div>
                  <div class="control-group">
                    <!-- Button -->
                    <br>
                    <div class="controls">
                      <button type="submit" class="btn btn-success">Sign In</button>
                    </div>
                    <br>
                    <span class="pull-left tit">
                      <i class="fa fa-google-plus"></i> Sign up with Google </span>
                    <span class="pull-right tit" style="cursor: pointer;"  (click)="toggleFormFunction()">
                      <i class="fa fa-sign-in"></i> Register </span>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="col-md-6 align-middle" style="background:#5C9EED;padding:15px;">
              <div class="cfluid">
                <p class="rowdd text-center"> CVHUNT</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style type="text/css">
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0
    }

    .cfluid {
      height: 100%;
      display: table;
      width: 100%;
      padding: 0;
    }

    .rowdd {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      font-size: 25px;
      font-weight: 600;
    }
  </style>
</div>
