<guesspage-header></guesspage-header>

<section class="forms inner">

<div class="container"><div class="row justify-content-md-center"><div class="col-md-12 form-bg"> <form class="form-inline">
  <div class="form-group col-5">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" class="form-control" id="staticEmail2" value="ex: UX Architect">
  </div>
  <div class="form-group col-4">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Location">
  </div><div class="form-group col-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Experience">
  </div><div class="form-group col-1">
  <button type="submit" class="btn btn-primary"> <i class="fa fa-search "></i> Search</button></div>
</form> </div></div></div>
</section>

<section class="jobs">

<div class="container">

<div class="row"><div class="col-md-3"><form class="form-inline">
  <label class="mr-sm-2" for="inlineFormCustomSelect">Filter</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    <option selected="">All</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

 
</form></div><div class="col-md-5"><form class="form-inline">
  <label class="mr-sm-2" for="inlineFormCustomSelect">Show agencies</label><div class="buts"><button type="submit" class="btn btn-primary">  All </button><span class="or">OR</span><button type="submit" class="btn btn-primary btn-white">  Connections</button></div>
  

 
</form></div><div class="col-md-4"></div></div>
    <div class="row">
    <div class="col-md-8">
        <div class="tabbable-panel" style="margin-top:25px">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li>
							<a href="#tab_default_1" class="active" data-toggle="tab">
							Recent</a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab">
							Near by</a>
						</li>
						<li>
							<a href="#tab_default_3" data-toggle="tab">
							India</a>
						</li>
                        <li>
							<a href="#tab_default_4" data-toggle="tab">
							Global</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
                        <div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><div class="recomend"><img src="assets/img/recom.png" class="img-fluid"></div><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div>
                              
                          <div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div><div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div><div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div>    
        
						</div>
						<div class="tab-pane" id="tab_default_2">
							
                              <div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div>
                              
                          <div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div><div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div><div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div>  
						</div>
						<div class="tab-pane" id="tab_default_3">
							<div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div>
                              
                          <div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div><div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div><div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div>  
						</div>
                        <div class="tab-pane" id="tab_default_4">
							<div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div>
                              
                          <div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div><div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div><div class="job-item shadow"><div class="shg"> </div><div class="bmb1"> </div><div class="row">
							
							  <div class="col-md-2 text-center lgbg pad15"><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp"></div><div class="col-md-7 jim pad15">
							    <h2 class="jt">Agency Name</h2>
                                <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span></div>
							    <div class="row"><div class="col">
							      <p class="yl">Trivandrum</p><p class="po">Posted on: Aug 20, 2017</p></div><div class="col"><p class="vac" style="margin-top:0"><span class="fiva">2045</span><span class="fiv"> Candidates</span></p><p><span class="fiva">345</span><span class="fiv"> Vacancies filled</span></p></div>
        <div class="col-md-12"><p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span><span class="job-more">5+</span></p></div></div></div><div class="col-md-3 lgbg pad15">
          <span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 20</span></span>
          <p class="timeleft">Recommendations</p><p style="font-size:11px; position:absolute; bottom:5px;"><strong><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i></strong></p></div></div></div>  
						</div>
					</div>
				</div>
			</div>
            
        

                              
                              <div class="advt-slot"><img src="assets/img/advt.jpg" class="img-fluid"></div>
        </div>
        <div class="col-md-4" style="padding-top:77px">
        <div class="shadow padding-20 employers">
          
          
          <p style="padding:50px 0; text-align:center"> Advertisement Slot</p>
          
           </div>
        <div class="shadow padding-20"><div class="col-md-12"><h5 class="text-center">Key skills</h5><p class="skill-p"> <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span> <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span> <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span> <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span> <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span> <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span><span class="skills">JQUERY</span></p></div></div>
          <div class="shadow padding-20 employers"><h5 class="text-center"> Top Agencies <i class="fa fa-caret-down"></i></h5><div class="row">
             <div class="col-md-2"><img src="assets/img/e1.jpg" width="39" height="39" style="margin-left:15px;"></div>   <div class="col-md-10">
               <p class="dg">Position A</p>
               <p class="lg">Open</p></div>           
          </div>
          
          
          <div class="row">
             <div class="col-md-2"><img src="assets/img/e2.jpg" width="39" height="39" style="margin-left:15px;"></div>   <div class="col-md-10">
               <p class="dg">Position B</p>
               <p class="lg">Open</p></div>           
          </div>
          <div class="row">
             <div class="col-md-2"><img src="assets/img/e3.jpg" width="39" height="39" style="margin-left:15px;"></div>   <div class="col-md-10">
               <p class="dg">Position C</p>
               <p class="lg">Open</p></div>           
          </div>
           </div>
            <div class="shadow padding-20 employers">
          
          
          <p style="padding:50px 0; text-align:center"> Advertisement Slot</p>
          
           </div>
            </div>
    </div>
    
</div>

</section>

<guesspage-footer></guesspage-footer>
