<!-- Navigation -->
<nav *ngIf="whichHeader=='homeHeader' ? true : false" class="navbar navbar-expand-lg navbar-dark fixed-top" id="service-nav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['../home']">CV HUNT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isSession">
            <a class="nav-link" [routerLink]="['../user']">Go to Dashboard</a>
          </li>
        <li class="nav-item" *ngIf="!isSession">
          <a class="nav-link" (click)="showLoginOrSignup(false)" href="#myModal-signup" data-toggle="modal">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isSession">
          <!-- style for making link white style="background:#fff; border-radius:25px; color:#000;padding-left:15px; padding-right:15px;" -->
          <a class="nav-link" (click)="showLoginOrSignup(true)" href="#myModal-signup" data-toggle="modal">Singup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav *ngIf="whichHeader=='loginHeader' ? true : false" class="navbar navbar-expand-lg navbar-dark fixed-top header-inner" id="service-nav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['../home']"><img src="assets/img/logo.png" width="131" height="48"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <div class="col-md-6">
        <ul class="navbar-nav nav-tabs pull-right">

          <li class="nav-item">
            <a class="{{currentStateName == 'positions' ? 'nav-link active' : 'nav-link'}}" [routerLink]="['../positions']">Positions</a>
          </li>
          <li class="nav-item">
            <a class="{{currentStateName == 'employer' ? 'nav-link active' : 'nav-link'}}" [routerLink]="['../employer']">Employers</a>
          </li>
          <li class="nav-item">
            <a class="{{currentStateName == 'agency' ? 'nav-link active' : 'nav-link'}}" [routerLink]="['../agency']">Agencies</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="pull-right notific">
          <span class="noti">
            <i class="fa fa-bell fa-lg"></i>
            <span>5</span>
          </span> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-user fa-lg" style="cursor: pointer" [routerLink]="['../user']"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-sign-out fa-lg" 
             aria-hidden="true" 
             style="cursor: pointer"
             (click)="logout()"></i>
        </div>
      </div>
    </div>
  </div>
</nav>