<guesspage-header></guesspage-header>

<section class="forms inner">

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12 form-bg">
        <form class="form-inline">
          <div class="form-group col-5">
            <label for="staticEmail2" class="sr-only">Email</label>
            <input type="text" class="form-control" id="staticEmail2" value="ex: UX Architect">
          </div>
          <div class="form-group col-4">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Location">
          </div>
          <div class="form-group col-2">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Experience">
          </div>
          <div class="form-group col-1">
            <button type="submit" class="btn btn-primary"> <i class="fa fa-search "></i> Search</button></div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="jobs">

  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <form class="form-inline">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Filter</label>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    <option selected="">All</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>


        </form>
      </div>
      <div class="col-md-5">
        <form class="form-inline">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Show Campaings started by </label>
          <div class="buts"><button type="submit" class="btn btn-primary">  Agency </button><span class="or">OR</span><button type="submit"
              class="btn btn-primary btn-white">  Employer</button></div>



        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="tabbable-panel" style="margin-top:25px">
          <div class="tabbable-line">
            <ul class="nav nav-tabs ">
              <li>
                <a href="#tab_default_1" class="active" data-toggle="tab">
							Open <span class="badge badge-danger">300</span></a>
              </li>
              <li>
                <a href="#tab_default_2" data-toggle="tab">
							Tagged (6)</a>
              </li>
              <li>
                <a href="#tab_default_3" data-toggle="tab">
							Closed (42)</a>
              </li>
              <li>
                <a href="#tab_default_4" data-toggle="tab">
							Draft (15)</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_default_1">
                <div class="job-item shadow">
                  <div class="bmg"> </div>
                  <div class="row">

                    <div class="col-md-2 text-center lgbg pad15"><i class="lg pb">Posted by</i><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp">
                      <span
                        class="agn dg">Agency</span>
                    </div>
                    <div class="col-md-7 jim pad15">
                      <h2 class="jt">Data analytst (2)</h2>
                      <div class="row">
                        <div class="col">
                          <p class="yl">4-5 years, Confidential, Trivandrum</p>
                          <p class="po">Posted on: Aug 20, 2017</p>
                        </div>
                        <div class="col">
                          <p class="bgs-jt ft">Full time</p>
                          <p class="bgs-jt wi">Walk-in interview</p>
                        </div>
                        <div class="col-md-12">
                          <p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span>
                            <span class="skills">JQUERY</span><span class="job-more">5+</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 lgbg pad15">
                      <p class="ctc"> Rs.50000</p>
                      <p class="timeleft sw">7 days left</p><span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 100</span>Applications</span>
                    </div>
                  </div>
                </div>

                <div class="job-item shadow">
                  <div class="bmb"> </div>
                  <div class="row">

                    <div class="col-md-2 text-center lgbg pad15"><i class="lg pb">Posted by</i><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp">
                      <span
                        class="agn dg">Agency</span>
                    </div>
                    <div class="col-md-7 jim pad15">
                      <h2 class="jt">Data analytst (2)</h2>
                      <div class="row">
                        <div class="col">
                          <p class="yl">4-5 years, Confidential, Trivandrum</p>
                          <p class="po">Posted on: Aug 20, 2017</p>
                        </div>
                        <div class="col">
                          <p class="bgs-jt ft">Full time</p>
                          <p class="bgs-jt wi">Walk-in interview</p>
                        </div>
                        <div class="col-md-12">
                          <p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span>
                            <span class="skills">JQUERY</span><span class="job-more">5+</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 lgbg pad15">
                      <p class="ctc"> Rs.50000</p>
                      <p class="timeleft sw">7 days left</p><span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 100</span>Applications</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab_default_2">

                <div class="job-item shadow">
                  <div class="bmb"> </div>
                  <div class="row">

                    <div class="col-md-2 text-center lgbg pad15"><i class="lg pb">Posted by</i><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp">
                      <span
                        class="agn dg">Agency</span>
                    </div>
                    <div class="col-md-7 jim pad15">
                      <h2 class="jt">Data analytst (2)</h2>
                      <div class="row">
                        <div class="col">
                          <p class="yl">4-5 years, Confidential, Trivandrum</p>
                          <p class="po">Posted on: Aug 20, 2017</p>
                        </div>
                        <div class="col">
                          <p class="bgs-jt ft">Full time</p>
                          <p class="bgs-jt wi">Walk-in interview</p>
                        </div>
                        <div class="col-md-12">
                          <p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span>
                            <span class="skills">JQUERY</span><span class="job-more">5+</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 lgbg pad15">
                      <p class="ctc"> Rs.50000</p>
                      <p class="timeleft sw">7 days left</p><span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 100</span>Applications</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab_default_3">
                <div class="job-item shadow">
                  <div class="bmg"> </div>
                  <div class="row">

                    <div class="col-md-2 text-center lgbg pad15"><i class="lg pb">Posted by</i><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp">
                      <span
                        class="agn dg">Agency</span>
                    </div>
                    <div class="col-md-7 jim pad15">
                      <h2 class="jt">Data analytst (2)</h2>
                      <div class="row">
                        <div class="col">
                          <p class="yl">4-5 years, Confidential, Trivandrum</p>
                          <p class="po">Posted on: Aug 20, 2017</p>
                        </div>
                        <div class="col">
                          <p class="bgs-jt ft">Full time</p>
                          <p class="bgs-jt wi">Walk-in interview</p>
                        </div>
                        <div class="col-md-12">
                          <p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span>
                            <span class="skills">JQUERY</span><span class="job-more">5+</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 lgbg pad15">
                      <p class="ctc"> Rs.50000</p>
                      <p class="timeleft sw">7 days left</p><span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 100</span>Applications</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab_default_4">
                <div class="job-item shadow">
                  <div class="bmg"> </div>
                  <div class="row">

                    <div class="col-md-2 text-center lgbg pad15"><i class="lg pb">Posted by</i><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp">
                      <span
                        class="agn dg">Agency</span>
                    </div>
                    <div class="col-md-7 jim pad15">
                      <h2 class="jt">Data analytst (2)</h2>
                      <div class="row">
                        <div class="col">
                          <p class="yl">4-5 years, Confidential, Trivandrum</p>               <p class="po">Posted on: Aug 20, 2017</p>
                                                </div>
                                                <div class="col">
                                                    <p class="bgs-jt ft">Full time</p>
                                                    <p class="bgs-jt wi">Walk-in interview</p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span>
                                                        <span
                                                            class="skills">JQUERY</span><span class="job-more">5+</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 lgbg pad15">
                                            <p class="ctc"> Rs.50000</p>
                                            <p class="timeleft sw">7 days left</p><span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 100</span>Applications</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="campaing-form text-center">
                    <h5> Is this campaign good for you </h5>
                    <p><br>

                        <input type="radio"> Yes&nbsp; &nbsp; &nbsp; &nbsp;<input type="radio"> No </p>
                </div>
                <div class="sponserd-job">
                    <div class="job-item shadow">
                        <div class="sbg">Hot Jobs</div>
                        <div class="bmg"> </div>
                        <div class="row">

                            <div class="col-md-2 text-center lgbg pad15"><i class="lg pb">Posted by</i><img src="assets/img/company-logo.png" width="47" height="48" class="img-emp">
                                <span
                                    class="agn dg">Agency</span>
                            </div>
                            <div class="col-md-7 jim pad15">
                                <h2 class="jt">Data analytst (2)</h2>
                                <div class="row">
                                    <div class="col">
                                        <p class="yl">4-5 years, Confidential, Trivandrum</p>
                                        <p class="po">Posted on: Aug 20, 2017</p>
                                    </div>
                                    <div class="col">
                                        <p class="bgs-jt ft">Full time</p>
                                        <p class="bgs-jt wi">Walk-in interview</p>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="skill-p">Key skills <span class="skills">JQUERY</span><span class="skills">ANGULAR JS</span>
                                            <span
                                                class="skills">JQUERY</span><span class="job-more">5+</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 lgbg pad15">
                                <p class="ctc"> Rs.50000</p>
                                <p class="timeleft sw">7 days left</p><span class="ap"><img src="assets/img/a1.png"> <img src="assets/img/a2.png"> <img src="assets/img/a3.png"><span class="an"> 100</span>Applications</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advt-slot"><img src="assets/img/advt.jpg" class="img-fluid"></div>
            </div>
            <div class="col-md-4" style="padding-top:55px">
                <div class="shadow profile-com padding-20">
                    <h5 class="text-center">Profile completion status</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="progress-circle pink" style="margin-left:15px">
                                <span class="progress-left">
                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">75%</div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                    style="width:70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                            <p class="text-center">Update now</p>
                        </div>
                        <div class="col-md-4"><img src="assets/img/trophy.jpg"></div>
                    </div>
                </div>

                <!--<div class="shadow calendar padding-20">
        <h5 class="text-center">My Calendar</h5>
        <table class="table-condensed" style="width:80%; margin:0 auto;">
                <thead>
                    <tr>
                      <th colspan="7" align="center" style="text-align:center;">
                        <span class="btn-group">
                            <a class="btn"><i class="icon-chevron-left"></i></a>
                        	<a class="btn active">February 2012</a>
                        	<a class="btn"><i class="icon-chevron-right"></i></a>
                        </span>
                      </th>
                    </tr>
                    <tr>
                        <th>Su</th>
                        <th>Mo</th>
                        <th>Tu</th>
                        <th>We</th>
                        <th>Th</th>
                        <th>Fr</th>
                        <th>Sa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="muted">29</td>
                        <td class="muted">30</td>
                        <td class="muted">31</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td class="btn-info btn-circle"><strong>20</strong></td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td class="muted">1</td>
                        <td class="muted">2</td>
                        <td class="muted">3</td>
                    </tr>
                </tbody>
            </table></div>-->
                <div class="shadow padding-20 employers">
                    <h5 class="text-center"> Top Employers <i class="fa fa-caret-down"></i></h5>
                    <div class="row">
                        <div class="col-md-2"><img src="assets/img/e1.jpg" width="39" height="39" style="margin-left:15px;"></div>
                        <div class="col-md-10">
                            <p class="dg">ABC</p>
                            <p class="lg">50 positions, 45 selected</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"><img src="assets/img/e2.jpg" width="39" height="39" style="margin-left:15px;"></div>
                        <div class="col-md-10">
                            <p class="dg">ABC</p>
                            <p class="lg">50 positions, 45 selected</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><img src="assets/img/e3.jpg" width="39" height="39" style="margin-left:15px;"></div>
                        <div class="col-md-10">
                            <p class="dg">ABC</p>
                            <p class="lg">50 positions, 45 selected</p>
                        </div>
                    </div>
                </div>
                <div class="shadow padding-20 employers">


                    <p style="padding:50px 0; text-align:center"> Advertisement Slot</p>

                </div>
            </div>
        </div>

    </div>

</section>

<guesspage-footer></guesspage-footer>