<form class="form-inline" #profileForm="ngForm" name="profileForm" novalidate>
<div class="modal-body addcandidate-user" style="background:#fff;padding-left:20px; padding-right:20px;font-size:11px;">
  <div class="container">
    <div class="row">
      <div class="alert alert-danger" role="alert" *ngIf="profileDataError.flag">
        <p class="text-center" style="padding-bottom: 0px;">{{profileDataError.message}}</p>
      </div>
      <div class="[ col-xs-12 col-sm-offset-12 col-sm-12 ]" *ngIf="!profileDataError.flag">
        <div class="[ panel panel-default ] panel-google-plus" style="border:none;">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="name"
                    #name="ngModel" [(ngModel)]="profileData.name" required value="Vinu">
                    <label for="form1" [attr.class]="profileData.name ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Name</label>
                    <div *ngIf="!name?.valid && (name?.dirty ||name?.touched)" class="input-valid-error">
                      <div [hidden]="!name.errors.required">
                        Name is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <select mdbInputDirective class="select-style form-control" name="countryid"
                    #countryid="ngModel" [(ngModel)]="profileData.countryid" required
                    (change)="getStateList(profileData.countryid)">
                      <option *ngFor="let option of countryList" [value]="option.country_id">{{option.country_name}}</option>
                    </select>
                    <div *ngIf="!countryid?.valid && (countryid?.dirty ||countryid?.touched)" class="input-valid-error">
                      <div [hidden]="!countryid.errors.required">
                        Country is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="mobileno"
                    #mobileno="ngModel" [(ngModel)]="profileData.mobileno" required minlength="10"
                    pattern="[0-9]{10}">
                    <label for="form1" [attr.class]="profileData.mobileno ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Mobile</label>
                    <div *ngIf="!mobileno?.valid && (mobileno?.dirty ||mobileno?.touched)" class="input-valid-error">
                      <div [hidden]="!mobileno.errors.required">
                        Mobile Number is required.
                      </div>
                      <div [hidden]="!mobileno.errors.minlength">
                        Mobile Number length should be {{mobileno.errors.minlength?.requiredLength}}.
                      </div>
                      <div [hidden]="!mobileno.errors.pattern">
                        Mobile Number is not valid.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="website"
                    #website="ngModel" [(ngModel)]="profileData.website">
                    <label for="form1" [attr.class]="profileData.website ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Website</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="fbprofilelink"
                    #fbprofilelink="ngModel" [(ngModel)]="profileData.fbprofilelink">
                    <label for="form1" [attr.class]="profileData.fbprofilelink ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Facebook Profile link</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="skypeid"
                    #skypeid="ngModel" [(ngModel)]="profileData.skypeid">
                    <label for="form1" [attr.class]="profileData.skypeid ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Skype ID</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="address"
                    #address="ngModel" [(ngModel)]="profileData.address" required>
                    <label for="form1" [attr.class]="profileData.address ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Address</label>
                    <div *ngIf="!address?.valid && (address?.dirty ||address?.touched)" class="input-valid-error">
                      <div [hidden]="!address.errors.required">
                        Address is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <select mdbInputDirective class="select-style form-control" name="stateid"
                    #stateid="ngModel" [(ngModel)]="profileData.stateid" required
                    (change)="getLocationList(profileData.stateid)">
                      <option *ngFor="let option of stateList" [value]="option.province_id">{{option.province_name}}</option>
                    </select>
                    <div *ngIf="!stateid?.valid && (stateid?.dirty ||stateid?.touched)" class="input-valid-error">
                      <div [hidden]="!stateid.errors.required">
                        State is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="professiontype"
                    #professiontype="ngModel" [(ngModel)]="profileData.professiontype">
                    <label for="form1" [attr.class]="profileData.professiontype ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Proffession Type</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <textarea mdbInputDirective class="form-control" type="text" name="companyprofile"
                    #companyprofile="ngModel" [(ngModel)]="profileData.companyprofile" required></textarea>
                    <label for="form1" [attr.class]="profileData.companyprofile ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Company Profile</label>
                    <div *ngIf="!companyprofile?.valid && (companyprofile?.dirty ||companyprofile?.touched)" class="input-valid-error">
                      <div [hidden]="!companyprofile.errors.required">
                        Company Profile is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="twitterprofilelink"
                    #twitterprofilelink="ngModel" [(ngModel)]="profileData.twitterprofilelink">
                    <label for="form1" [attr.class]="profileData.twitterprofilelink ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Twitter Profile link</label>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="landphoneno"
                    #landphoneno="ngModel" [(ngModel)]="profileData.landphoneno"
                    required minlength="6" pattern="[0-9]{6}">
                    <label for="form1" [attr.class]="profileData.landphoneno ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Landline</label>
                    <div *ngIf="!landphoneno?.valid && (landphoneno?.dirty ||landphoneno?.touched)" class="input-valid-error">
                      <div [hidden]="!landphoneno.errors.required">
                        Landline Number is required.
                      </div>
                      <div [hidden]="!landphoneno.errors.minlength">
                        Landline Number length should be {{landphoneno.errors.minlength?.requiredLength}}.
                      </div>
                      <div [hidden]="!landphoneno.errors.pattern">
                        Landline Number is not valid.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <select mdbInputDirective class="select-style form-control" name="locationid"
                    #locationid="ngModel" [(ngModel)]="profileData.locationid" required>
                      <option *ngFor="let option of locationList" [value]="option.location_id">{{option.location_name}}</option>
                    </select>
                    <div *ngIf="!locationid?.valid && (locationid?.dirty ||locationid?.touched)" class="input-valid-error">
                      <div [hidden]="!locationid.errors.required">
                        Location is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="fax"
                    #fax="ngModel" [(ngModel)]="profileData.fax" required minlength="10" pattern="[0-9]{10}">
                    <label for="form1" [attr.class]="profileData.fax ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Fax</label>
                    <div *ngIf="!fax?.valid && (fax?.dirty ||fax?.touched)" class="input-valid-error">
                      <div [hidden]="!fax.errors.required">
                        Fax Number is required.
                      </div>
                      <div [hidden]="!fax.errors.minlength">
                        Fax Number length should be {{fax.errors.minlength?.requiredLength}}.
                      </div>
                      <div [hidden]="!fax.errors.pattern">
                        Fax Number is not valid.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po md-form">
                    <input mdbInputDirective class="form-control" type="text" name="linkedinprofilelink"
                    #linkedinprofilelink="ngModel" [(ngModel)]="profileData.linkedinprofilelink">
                    <label for="form1" [attr.class]="profileData.linkedinprofilelink ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Linkedin Profile link</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 po">Logo
                    <div class="upload-drop-zone" id="drop-zone" style="height:96px; line-height:96px;">
                      Drop your image here
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!profileDataError.flag" class="modal-footer text-center" style="display:block;">
    <button type="button"
    class="btn btn-primary btn-medium rounded"
    data-dismiss="modal"
    (click)="updateProfile()"
    [disabled]="!profileForm.valid"
    style="padding-left:30px; padding-right:30px; color:#fff;">Update</button>
  </div>
</div>
</form>
