<guesspage-header></guesspage-header>
<section class="forms inner" style="padding-top: 21px;">

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12 form-bg">
        <form class="form-inline">
          <div class="form-group col-4">
            <label for="staticEmail2" class="sr-only">Email</label>
            <input type="text" class="form-control" id="staticEmail2" value="ex: UX Architect">
          </div>
          <div class="form-group col-4">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Location">
          </div>
          <div class="form-group col-2">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Experience">
          </div>
          <div class="form-group col-2">
            <button type="submit" class="btn btn-primary" style="height: 42px;">
              <i class="fa fa-search "></i> Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="jobs">

  <div class="container">

    <div class="row">
      <div class="col-md-3 hide">
        <form class="form-inline">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Filter</label>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
            <option selected="">All</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </form>
      </div>
      <div class="col-md-5">
        <!-- <form class="form-inline">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Show Campaings started by </label>
          <div class="buts">
            <button type="submit" class="btn btn-primary"> Agency </button>
            <span class="or">OR</span>
            <button type="submit" class="btn btn-primary btn-white"> Employer</button>
          </div>
        </form> -->
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-panel" style="margin-top:25px">
          <div class="tabbable-line">
            <ul class="nav nav-tabs ">
              <li (click)="getProfile()">
                <a href="#tab_default_1" data-toggle="tab">
                  Edit Profile </a>
              </li>
              <li (click)="getCandidateList()">
                <a href="#tab_default_2" class="active" data-toggle="tab">
                  My Candidates</a>
              </li>
              <li>
                <a href="#tab_default_3" data-toggle="tab">
                  My Connections</a>
              </li>
              <li>
                <a href="#tab_default_4" data-toggle="tab">
                  My Testimonials</a>
              </li>
              <li>
                <a href="#tab_default_5" data-toggle="tab">
                  My Bookmarks</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane " id="tab_default_1">
                <guesspage-user-profile></guesspage-user-profile>
              </div>
              <div class="tab-pane active" id="tab_default_2">
                <div class="row">
                  <div class="col-md-8">
                    <div class="panel panel-default">

                      <div class="panel-body">

                        <!-- Standar Form -->



                        <!-- Drop Zone -->

                        <div class="upload-drop-zone" id="drop-zone">
                          Drop XLS,CSV
                        </div>
                        <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                          <div class="form text-right ">

                            <a href="" class="btn btn-info addc" data-toggle="modal" data-target="#candidateModal">Add Candidates</a>
                          </div>
                        </form>
                        <!-- Progress Bar -->


                        <!-- Upload Finished -->

                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="shadow padding-20 lgbg text-center" style="padding-bottom:0; margin-top:0;">
                      <div class="col-md-12 ">
                        <h5 class="text-left">Title</h5>
                        <div class="row ag-ribg">
                          <div class="col-12">
                            <p class="ctc">121</p>
                            <p class="dg">Total number of candidates</p>
                            <p class="ctc">1.2M</p>
                            <p class="dg">Total Location</p>
                            <p class="ctc">12</p>
                            <p class="dg">Total Skills
                              <br>
                              <br>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <guesspage-user-candidate-list></guesspage-user-candidate-list>

              </div>
              <!-- /container -->



              <div class="tab-pane" id="tab_default_3">
                <div class="row">
                  <div class="col-md-8">
                    <div class="job-item shadow">
                      <div class="row">

                        <div class="col-md-2 text-center lgbg pad15">
                          <img src="assets/img/company-logo.png" class="img-emp" width="47" height="48">
                        </div>
                        <div class="col-md-7 jim pad15">
                          <h2 class="jt">Agency Name</h2>
                          <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                          </div>
                          <div class="row">
                            <div class="col">
                              <p class="yl">Trivandrum</p>
                              <p class="po">Posted on: Aug 20, 2017</p>
                            </div>
                            <div class="col">
                              <p class="vac" style="margin-top:0">
                                <span class="fiva">2045</span>
                                <span class="fiv"> Candidates</span>
                              </p>
                              <p>
                                <span class="fiva">345</span>
                                <span class="fiv"> Vacancies filled</span>
                              </p>
                            </div>
                            <div class="col-md-12">
                              <p class="skill-p">Key skills
                                <span class="skills">JQUERY</span>
                                <span class="skills">ANGULAR JS</span>
                                <span class="skills">JQUERY</span>
                                <span class="job-more">5+</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 lgbg pad15">
                          <span class="pull-right">
                            <i class="fa fa-phone lg"></i> &nbsp;&nbsp;
                            <i class="fa fa-envelope lg"></i>
                          </span>
                          <br>
                          <br>
                          <button class="btn btn-default btn-block">
                            <i class="fa fa-ban"></i> Block</button>
                          <button class="btn btn-default btn-block" style="background:white; border:1px solid #ccc">
                            <i class="fa fa-minus"></i> Remove</button>
                        </div>
                      </div>
                    </div>


                    <div class="job-item shadow">
                      <div class="row">

                        <div class="col-md-2 text-center lgbg pad15">
                          <img src="assets/img/company-logo.png" class="img-emp" width="47" height="48">
                        </div>
                        <div class="col-md-7 jim pad15">
                          <h2 class="jt">Agency Name</h2>
                          <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                          </div>
                          <div class="row">
                            <div class="col">
                              <p class="yl">Trivandrum</p>
                              <p class="po">Posted on: Aug 20, 2017</p>
                            </div>
                            <div class="col">
                              <p class="vac" style="margin-top:0">
                                <span class="fiva">2045</span>
                                <span class="fiv"> Candidates</span>
                              </p>
                              <p>
                                <span class="fiva">345</span>
                                <span class="fiv"> Vacancies filled</span>
                              </p>
                            </div>
                            <div class="col-md-12">
                              <p class="skill-p">Key skills
                                <span class="skills">JQUERY</span>
                                <span class="skills">ANGULAR JS</span>
                                <span class="skills">JQUERY</span>
                                <span class="job-more">5+</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 lgbg pad15">
                          <span class="pull-right">
                            <i class="fa fa-phone lg"></i> &nbsp;&nbsp;
                            <i class="fa fa-envelope lg"></i>
                          </span>
                          <br>
                          <br>
                          <button class="btn btn-default btn-block">
                            <i class="fa fa-unlock"></i> Unblock</button>
                          <button class="btn btn-default btn-block" style="background:white; border:1px solid #ccc">
                            <i class="fa fa-minus"></i> Remove</button>
                        </div>
                      </div>
                    </div>
                    <div class="job-item shadow">
                      <div class="row">

                        <div class="col-md-2 text-center lgbg pad15">
                          <img src="assets/img/company-logo.png" class="img-emp" width="47" height="48">
                        </div>
                        <div class="col-md-7 jim pad15">
                          <h2 class="jt">Agency Name</h2>
                          <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                          </div>
                          <div class="row">
                            <div class="col">
                              <p class="yl">Trivandrum</p>
                              <p class="po">Posted on: Aug 20, 2017</p>
                            </div>
                            <div class="col">
                              <p class="vac" style="margin-top:0">
                                <span class="fiva">2045</span>
                                <span class="fiv"> Candidates</span>
                              </p>
                              <p>
                                <span class="fiva">345</span>
                                <span class="fiv"> Vacancies filled</span>
                              </p>
                            </div>
                            <div class="col-md-12">
                              <p class="skill-p">Key skills
                                <span class="skills">JQUERY</span>
                                <span class="skills">ANGULAR JS</span>
                                <span class="skills">JQUERY</span>
                                <span class="job-more">5+</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 lgbg pad15">
                          <span class="pull-right">
                            <i class="fa fa-phone lg"></i> &nbsp;&nbsp;
                            <i class="fa fa-envelope lg"></i>
                          </span>
                          <br>
                          <br>
                          <button class="btn btn-default btn-block">
                            <i class="fa fa-ban"></i> Block</button>
                          <button class="btn btn-default btn-block" style="background:white; border:1px solid #ccc">
                            <i class="fa fa-minus"></i> Remove</button>
                        </div>
                      </div>
                    </div>


                    <div class="job-item shadow">
                      <div class="row">

                        <div class="col-md-2 text-center lgbg pad15">
                          <img src="assets/img/company-logo.png" class="img-emp" width="47" height="48">
                        </div>
                        <div class="col-md-7 jim pad15">
                          <h2 class="jt">Agency Name</h2>
                          <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                          </div>
                          <div class="row">
                            <div class="col">
                              <p class="yl">Trivandrum</p>
                              <p class="po">Posted on: Aug 20, 2017</p>
                            </div>
                            <div class="col">
                              <p class="vac" style="margin-top:0">
                                <span class="fiva">2045</span>
                                <span class="fiv"> Candidates</span>
                              </p>
                              <p>
                                <span class="fiva">345</span>
                                <span class="fiv"> Vacancies filled</span>
                              </p>
                            </div>
                            <div class="col-md-12">
                              <p class="skill-p">Key skills
                                <span class="skills">JQUERY</span>
                                <span class="skills">ANGULAR JS</span>
                                <span class="skills">JQUERY</span>
                                <span class="job-more">5+</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 lgbg pad15">
                          <span class="pull-right">
                            <i class="fa fa-phone lg"></i> &nbsp;&nbsp;
                            <i class="fa fa-envelope lg"></i>
                          </span>
                          <br>
                          <br>
                          <button class="btn btn-default btn-block">
                            <i class="fa fa-unlock"></i> Unblock</button>
                          <button class="btn btn-default btn-block" style="background:white; border:1px solid #ccc">
                            <i class="fa fa-minus"></i> Remove</button>
                        </div>
                      </div>
                    </div>
                    <div class="job-item shadow">
                      <div class="row">

                        <div class="col-md-2 text-center lgbg pad15">
                          <img src="assets/img/company-logo.png" class="img-emp" width="47" height="48">
                        </div>
                        <div class="col-md-7 jim pad15">
                          <h2 class="jt">Agency Name</h2>
                          <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                          </div>
                          <div class="row">
                            <div class="col">
                              <p class="yl">Trivandrum</p>
                              <p class="po">Posted on: Aug 20, 2017</p>
                            </div>
                            <div class="col">
                              <p class="vac" style="margin-top:0">
                                <span class="fiva">2045</span>
                                <span class="fiv"> Candidates</span>
                              </p>
                              <p>
                                <span class="fiva">345</span>
                                <span class="fiv"> Vacancies filled</span>
                              </p>
                            </div>
                            <div class="col-md-12">
                              <p class="skill-p">Key skills
                                <span class="skills">JQUERY</span>
                                <span class="skills">ANGULAR JS</span>
                                <span class="skills">JQUERY</span>
                                <span class="job-more">5+</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 lgbg pad15">
                          <span class="pull-right">
                            <i class="fa fa-phone lg"></i> &nbsp;&nbsp;
                            <i class="fa fa-envelope lg"></i>
                          </span>
                          <br>
                          <br>
                          <button class="btn btn-default btn-block">
                            <i class="fa fa-ban"></i> Block</button>
                          <button class="btn btn-default btn-block" style="background:white; border:1px solid #ccc">
                            <i class="fa fa-minus"></i> Remove</button>
                        </div>
                      </div>
                    </div>


                    <div class="job-item shadow">
                      <div class="row">

                        <div class="col-md-2 text-center lgbg pad15">
                          <img src="assets/img/company-logo.png" class="img-emp" width="47" height="48">
                        </div>
                        <div class="col-md-7 jim pad15">
                          <h2 class="jt">Agency Name</h2>
                          <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                          </div>
                          <div class="row">
                            <div class="col">
                              <p class="yl">Trivandrum</p>
                              <p class="po">Posted on: Aug 20, 2017</p>
                            </div>
                            <div class="col">
                              <p class="vac" style="margin-top:0">
                                <span class="fiva">2045</span>
                                <span class="fiv"> Candidates</span>
                              </p>
                              <p>
                                <span class="fiva">345</span>
                                <span class="fiv"> Vacancies filled</span>
                              </p>
                            </div>
                            <div class="col-md-12">
                              <p class="skill-p">Key skills
                                <span class="skills">JQUERY</span>
                                <span class="skills">ANGULAR JS</span>
                                <span class="skills">JQUERY</span>
                                <span class="job-more">5+</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 lgbg pad15">
                          <span class="pull-right">
                            <i class="fa fa-phone lg"></i> &nbsp;&nbsp;
                            <i class="fa fa-envelope lg"></i>
                          </span>
                          <br>
                          <br>
                          <button class="btn btn-default btn-block">
                            <i class="fa fa-unlock"></i> Unblock</button>
                          <button class="btn btn-default btn-block" style="background:white; border:1px solid #ccc">
                            <i class="fa fa-minus"></i> Remove</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab_default_4">
                My Testimonials
              </div>
              <div class="tab-pane" id="tab_default_5">
                My Bookmarks
              </div>
            </div>
          </div>
        </div>





      </div>

    </div>

  </div>

</section>
<guesspage-user-candidate-modal></guesspage-user-candidate-modal>

<guesspage-footer></guesspage-footer>