/*!
 * Start Bootstrap - Full Slider (http://startbootstrap.com/template-overviews/full-slider)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full-slider/blob/master/LICENSE)
 */

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#carouselExampleIndicators .carousel-caption{ bottom:35%;}
#carouselExampleIndicators .carousel-caption h3{ font-size:3em; font-weight:600;}
#carouselExampleIndicators .carousel-caption a{ border-radius:25px; padding:10px; color: #fff; border:1px solid #fff;}