@charset "utf-8";
/* CSS Document */
body{ background:#f9fafc;}
p{ margin:0;}
.product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative; font-size:12px; color:#a9a9a9;-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
}
.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}
.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}
.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px; line-height:28px; padding-left:5px;
}
.sticker-new {
    background:url(../img/sticker.png) no-repeat top ;
    left: auto;
    right: -17px;top:15px; color:#fff;
}
.pi-img-wrapper {
    position: relative;
}
.status{   position: absolute;
    top: 0;
    left: 13px;
    width: 84px; line-height:24px;
    height: 24px;border-radius:25px;color:#fff; text-align:center; top:15px;}
	.st-green{ background:#74ca4e; }
	.st-grey{ background:#b7b7b7; }
	.st-yellow{ background:#ffcc00 }
.pi-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
    display: block;
}
.pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
}

.product-item h3 {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 4px;padding-top:35px
}
.post-l{float:left;width:30%;}
.post-r{float:right;width:68%;}
.product-item ul{ margin:0; padding:0; list-style:none; border-bottom:1px solid #e3e3e3; overflow:hidden; margin-bottom:5px; padding-bottom:15px;}
.skill-li .post-l,.skill-li .post-r{width:auto; float:none; display:inline-block}
.fixed-top{ background:#3169a9;}
.header-inner{ background:#5c9eed;}
.forms.inner{padding-top:100px;}
.skills{ border:1px solid #a9a9a9; border-radius:15px; padding:0 5px ; margin:2px; display:inline-block;}
.skill-li .post-r .skills a{color:#357cd0;}
.bot-list{width:30%; float:left; font-size:14px;color: #3e4d5c;}
.bot-list span{ font-size:20px; color:#357cd0; display:block;}
.form-bg{ background:#fff;padding-top:45px; padding-bottom:25px;margin-top:-68px;margin-bottom:100px;-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);}
.forms.inner{ background:#fff;}
.forms.inner .form-bg{margin-top:0;-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;padding-top:0px;margin-bottom:0px }
.header-inner.navbar{padding:0;}
.header-inner.navbar-dark .navbar-nav .nav-link{ text-transform:uppercase;padding:15px 25px ;border:none;color:#fff;border-radius:0; font-weight:600;}
.header-inner .nav-item  .nav-link.active,  .header-inner .nav-tabs .nav-link:hover{ background:#fff;color:#000}
 .header-inner .nav-tabs{ border:none;}
.header-inner .navbar-brand{ padding:0;}
 .form-bg .form-control,.jobs  .form-control{ border-radius:0; border-color:#d2d2d2; color:#7f7f7f;width:100%;}
 .custom-select{border-radius:0; border-color:#7b7b7b;color:#7f7f7f;}
.btn{ background:#5c9eed; border-color:#357cd0; border-radius:0;}
.jobs h1{ text-transform:uppercase;}
.form-bg h2,.testimonials h2{ text-transform:uppercase;font-size:25px;}
footer{ background:url(../img/footer.jpg) top center no-repeat; background-size:100% auto;}
footer h2{ text-transform:uppercase;font-size:25px;}
footer .form-control{ border-radius:0; border-color:#7b7b7b; color:#7f7f7f;}
footer  .btn{ background:#357cd0; border-color:#357cd0; border-radius:0;}
.btn-white{ background:#fff; color:#5c9eed; border-color:#d8d8d8;}
.buts{ position:relative;}
.buts .or{position:absolute;left:0;left: 42%;
right: 0;
top: 15%; background:#f9f9f9; color:#888888;width:30px; text-align:center; font-size:14px; border:1px solid #dcdcdc;}
.buts .btn{width:120px;}
.form-s{padding-top:7rem;padding-bottom:8rem;}
.bg-f{ background:#fff;padding:50px 0;-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);}
.bg-f a{ color:#c6c6c6}
.bg-f h4{ color:#5d5d5d; text-transform:uppercase; font-size:18px;}
.copy{ text-transform:uppercase; padding:20px 0;color:#c6c6c6}
.testimonials .owl-carousel .owl-item img{width:auto; display:inline-block;border-radius:50%;}
.testimonials{ padding:100px 0 20px 0}
.testimonials .owl-carousel .owl-item p{ display:block;}
.bg-f ul{ list-style:none; margin:0; padding:0;}
.bg-f p,.bg-f{ color:#c6c6c6}
.product-item h3 a {
    color: #3e4d5c;
}
.product-item h3{color: #3e4d5c;}
.product-item h3 a:hover {
    color: #E02222;
}
.pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}
.product-item .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
}
        .product-item .add2cart:hover {
            color: #fff;
            background: #e84d1c;
            border-color: #e84d1c;
        }
.job-item p.vac{ color:#5c9eed;margin-top:38px;}
.jobs{padding-top:40px;font-size:13px;}
.fiva{width:20%; float:left}
.fiv{width:80%; float:left}
/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373; padding:5px 25px; border-bottom: 4px solid transparent;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li a:hover {
  border-bottom: 4px solid #5c9eed;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li a:hover{


  color: #333333; text-decoration:none;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li a:hover > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li a.active {
  border-bottom: 4px solid #5c9eed;
  position: relative;
}
.tabbable-line > .nav-tabs > li  a.active {
  color: #333333;
}
.tabbable-line > .nav-tabs > li  a.active > i {
  color: #404040;
}
.tabbable-line > .tab-content {

  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;margin-top:8px;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
.agn{font-size:14px; display:block}
.pb{ display:block;}
.dg{color:#858585}
.lg{color:#afafaf}
.lgbg{ background:#fcfcfc;}
.job-item{ position:relative;}
.jt{color:#575757}
.jim{ background:#fff;}
.pad15{padding-top:30px;padding-bottom:30px;}
.yl{ color:#7a7a7a;}
.po{ color:#bbbbbb}
.job-item p{margin:0 0 3px 0;}
.job-item{}

.shadow{-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2); background:#fff; margin:20px 0;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.ft{ background:url(../img/ft.png) no-repeat left;}
.wi{ background:url(../img/wi.png) no-repeat left;}
.skill-p{ color:#8a8a8a; padding-top:10px;}
p.ctc{ font-size:20px; color:#5c9eed;margin-bottom:15px; font-weight:600;}
.ag-ribg{ background:#fcfcfc; border-top:1px solid #ececec;border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;}
.ag-ribg .ctc{margin-bottom:0px;}
.img-emp{margin:40px 0}
.job-item p.timeleft.sw{margin-bottom:15px}
.job-more{background:#ccc; color:#fff; border-radius:50px; padding: 3px 5px }
.bgs-jt{ padding-left:20px; color:#515151;}
.bgs-jtpl{color:#515151;}
.row-mar{margin-bottom:15px;}
.border-bot{border-bottom:1px solid #eee; padding:15px 0}
.sw{background:url(../img/sw.png) no-repeat left; color:#ff0001; padding-left:20px}
.ap{margin-left:30px;}
.toshow-bot{padding-top:100px!important; margin-top:-70px;}
.abs-pos{ position:absolute; text-align:center; bottom:-20px;}
.addc{ background-image:url(../img/user.png);background-position:5px center; background-repeat:no-repeat;  padding-left:25px; color:#fff;}
.recomend{ position:absolute; top:10px;}
.bm{ background-color:#fff;color:#636363!important;border-color:#636363!important;  background-image:url(../img/bm.png);background-position:5px center; background-repeat:no-repeat;  padding-left:25px; color:#fff;}
.ap img{margin-left:-25px;}
.bmg{ background:url(../img/bmg.png) no-repeat; height:20px; width:20px; position:absolute; right:-15px; top:0;z-index:2;}
.bmb,.bmb1{ background:url(../img/bmb.png) no-repeat; height:20px; width:20px; position:absolute; right:-15px; top:0;z-index:2;}

.shg{ background:url(../img/shg.png) no-repeat; height:20px; width:20px; position:absolute; right:5px; top:0;z-index:2;}
.jdr{padding-top:15px}
.an{background:url(../img/an.png) no-repeat left;width:32px; height:32px; display:inline-block; line-height:32px;margin-left:-15px; text-align:center; color:#fff; }

.idc{background:#eee;width:32px; height:32px; display:inline-block; line-height:32px; text-align:center; color:#333; border-radius:50%; }
.campaing-form{ padding:50px 0;}
.sbg{ background:url(../img/sponsored.png) no-repeat left; width:162px; height:26px; position:absolute; left:-15px; top:-15px;z-index:2; color:#fff; text-align:center}
.padding-20{ padding:20px 0}
.calendar .btn-group .btn{ background:#fff;border-color:#fff;}
.calendar .btn-info{ background:#d6d7ef; border-color:#d6d7ef;}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.sm1{
background-color:#fff;color:#636363!important;border-color:#636363!important;  background-image:url(../img/sm1.png);background-position:5px center; background-repeat:no-repeat;  padding-left:25px; color:#fff;}

.progress{ height:1px; line-height:1px;margin-top:25px}
.employers p{ margin:0;}
.employers .row{margin-top:15px;}
.progress-bar-danger{ background:#FF5F5F; height:1px; line-height:1px;}
.noti{ position:relative;}
.noti span{ border-radius: 50px;
background: #F00;
color: #fff;
position: absolute;
top: -7px;
left: 10px;
height: 16px;
width: 16px;
text-align: center;
line-height: 16px; font-size:12px;}
.notific i{ color:#fff;}
.notific a{ color:#fff;}
.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: yellow;}
.progress-circle{
    width: 64px;
    height: 64px;
    line-height: 50px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress-circle:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-circle > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress-circle .progress-left{
    left: 0;
}
.progress-circle .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress-circle .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress-circle .progress-right{
    right: 0;
}
.progress-circle .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress-circle .progress-value{
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 2px solid #ebebeb;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
}
.progress-circle.blue .progress-bar{
    border-color: #049dff;
}
.progress-circle.blue .progress-value{
    color: #049dff;
}
.progress-circle.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress-circle.yellow .progress-bar{
    border-color: #fdba04;
}
.progress-circle.yellow .progress-value{
    color: #fdba04;
}
.progress-circle.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress-circle.pink .progress-bar{
    border-color: #ff5f5f;
}
.progress-circle.pink .progress-value{
    color: #ff5f5f;
}
.progress-circle.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress-circle.green .progress-bar{
    border-color: #1abc9c;
}
.progress-circle.green .progress-value{
    color: #1abc9c;
}
.progress-circle.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.acc{ font-size:11px;margin:5px 0}
.acc .table{ margin:0;}
.acc .table td,.acc .table th{ border:none;}
.acc[aria-expanded="true"] .coll-small{ display:block;}
.coll-small{ font-size:11px; color:#CCC; display:none;}
.acc .icon-last i{display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;}
.acc .icon-last i:before{content:'\f107'}
.acc[aria-expanded="true"] .icon-last i:before{ content:'\f106'}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background-color: rgb(229, 229, 229);
    padding-top: 56px;
    padding-bottom: 30px;
}

.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 15px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    overflow: hidden;border:1px solid #fff; color:#dfdfdf; border-radius:5px;
}
.panel-google-plus > .panel-google-plus-tags > ul > li.tobe {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    font-size: 12px;
    overflow: hidden;border:1px solid #5c9eed; color:#5c9eed;
}

.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 15px;
}

.home .panel-google-plus > .panel-heading {
    margin-top: 20px;
    padding-bottom: 35px;
}
.panel-google-plus > .panel-heading > img {
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}
.add-candi .col-xs-12.col-sm-offset-12.col-sm-12{ background:#fff; padding-left:2%; padding-right:2%;}
.add-candi .input-group
.add-candi .btn{ color:#fff;}
.add-candi p.tit{  padding-bottom:20px;color:#818181; font-size:12px; }
.add-candi span.tit,.add-candi label.tit{ color:#818181; font-size:12px; padding-bottom:5px; margin:0px;}
.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}
.search-query:focus{
    width: 260px;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
.panel-google-plus  input[type=text] {
    border: none;
    border-bottom: 1px solid #e4e4e4; width: 100%;
    padding: 7px 20px 5px 0;
    margin: 0 0 8px 0;
    box-sizing: border-box; background:none;  font-size:12px
}
.panel-google-plus  textarea[type=text] {
  border: none;
  border-bottom: 1px solid #e4e4e4; width: 100%;
  padding: 7px 20px 5px 0;
  margin: 0 0 8px 0;
  box-sizing: border-box; background:none;  font-size:12px
}
.panel-google-plus  input[type=date] {
    border: none;
    border-bottom: 1px solid #e4e4e4; width: 100%;
    padding: 7px 20px 5px 0;
    margin: 0 0 8px 0;
    box-sizing: border-box; background:none;  font-size:12px
  }
.panel-google-plus  input[type=text]:focus{border-bottom: 1px solid #5c9eed}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }
}


.panel-google-plus .btn {
    border-radius: 3px;
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover,
.panel-google-plus .btn-default:focus,
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress-circle{ margin-bottom: 20px; }
}



.select-style {
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 1px solid #e4e4e4; 
    font-weight: normal;
    font-size: 11px;
    letter-spacing: .15em;
    border-radius: 0;
    &:focus, &:active {
        outline: 0;
        border-bottom-color: red;
    }
}

.hide {
    display: none;
}