
<guesspage-header></guesspage-header>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/img/banner.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>TAKE FULL CONTROL <br/> OF YOUR CANDIDATE SEARCH</h3>
          <p>This is a description for the first slide.</p>
          <a href="">Play our story <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->

      <!-- Slide Three - Set the background image for this slide in the line below -->

    </div>

  </div>
</header>
<section class="forms">

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 form-bg">
        <h2 class="text-center">I'M Looking for</h2>
        <form class="form-inline">
          <div class="form-group">
            <label for="staticEmail2" class="sr-only">Email</label>
            <input type="text" class="form-control" id="staticEmail2" value="ex: UX Architect">
          </div>
          <div class="form-group mx-sm-3">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Location">
          </div>
          <div class="form-group mx-sm-3">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Experience">
          </div>
          <button type="submit" class="btn btn-primary"> <i class="fa fa-search "></i> Search</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Page Content -->

<section class="jobs">

  <div class="container">
    <h1 class="text-center">Recent Jobs</h1>
    <div class="row">
      <div class="col-md-3">
        <div class="product-item">
          <div class="status st-green"> Active </div>
          <h3>Sr. Visual Designer</h3>
          <ul>
            <li><span class="post-l">Posted :</span> <span class="post-r">August 10 2017</span></li>
            <li><span class="post-l">Posted by :  </span> <span class="post-r">Staffing Agency</span></li>
            <li><span class="post-l">Expiry : </span> <span class="post-r">15 days</span></li>
            <li><span class="post-l">Location : </span> <span class="post-r">Thiruvananthapuram</span></li>
            <li><span class="post-l">Experience :</span> <span class="post-r"> 5 years</span></li>
            <li class="skill-li"><span class="post-l ">Key skills : </span> <span class="post-r"><span class="skills">Product</span> <span class="skills">Photoshop</span>              <span class="skills"> <a href="#">...</a></span></span>
            </li>
          </ul>

          <div class="bot-list">Applied <span>05</span></div>
          <div class="bot-list">Shortlisted <span>05</span></div>
          <div class="sticker sticker-new"> 10,000</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-item">
          <div class="status st-grey"> Closed </div>
          <h3>Sr. Visual Designer</h3>
          <ul>
            <li><span class="post-l">Posted :</span> <span class="post-r">August 10 2017</span></li>
            <li><span class="post-l">Posted by :  </span> <span class="post-r">Staffing Agency</span></li>
            <li><span class="post-l">Expiry : </span> <span class="post-r">15 days</span></li>
            <li><span class="post-l">Location : </span> <span class="post-r">Thiruvananthapuram</span></li>
            <li><span class="post-l">Experience :</span> <span class="post-r"> 5 years</span></li>
            <li class="skill-li"><span class="post-l ">Key skills : </span> <span class="post-r"><span class="skills">Product</span> <span class="skills">Photoshop</span>              <span class="skills"> <a href="#">...</a></span></span>
            </li>
          </ul>

          <div class="bot-list">Applied <span>05</span></div>
          <div class="bot-list">Shortlisted <span>05</span></div>
          <div class="sticker sticker-new"> 10,000</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-item">
          <div class="status st-green"> Active </div>
          <h3>Sr. Visual Designer</h3>
          <ul>
            <li><span class="post-l">Posted :</span> <span class="post-r">August 10 2017</span></li>
            <li><span class="post-l">Posted by :  </span> <span class="post-r">Staffing Agency</span></li>
            <li><span class="post-l">Expiry : </span> <span class="post-r">15 days</span></li>
            <li><span class="post-l">Location : </span> <span class="post-r">Thiruvananthapuram</span></li>
            <li><span class="post-l">Experience :</span> <span class="post-r"> 5 years</span></li>
            <li class="skill-li"><span class="post-l ">Key skills : </span> <span class="post-r"><span class="skills">Product</span> <span class="skills">Photoshop</span>              <span class="skills"> <a href="#">...</a></span></span>
            </li>
          </ul>

          <div class="bot-list">Applied <span>05</span></div>
          <div class="bot-list">Shortlisted <span>05</span></div>
          <div class="sticker sticker-new"> 10,000</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-item">
          <div class="status st-yellow"> Active </div>
          <h3>Sr. Visual Designer</h3>
          <ul>
            <li><span class="post-l">Posted :</span> <span class="post-r">August 10 2017</span></li>
            <li><span class="post-l">Posted by :  </span> <span class="post-r">Staffing Agency</span></li>
            <li><span class="post-l">Expiry : </span> <span class="post-r">15 days</span></li>
            <li><span class="post-l">Location : </span> <span class="post-r">Thiruvananthapuram</span></li>
            <li><span class="post-l">Experience :</span> <span class="post-r"> 5 years</span></li>
            <li class="skill-li"><span class="post-l ">Key skills : </span> <span class="post-r"><span class="skills">Product</span> <span class="skills">Photoshop</span>              <span class="skills"> <a href="#">...</a></span></span>
            </li>
          </ul>

          <div class="bot-list">Applied <span>05</span></div>
          <div class="bot-list">Shortlisted <span>05</span></div>
          <div class="sticker sticker-new"> 10,000</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="product-item">
          <div class="status st-green"> Active </div>
          <h3>Sr. Visual Designer</h3>
          <ul>
            <li><span class="post-l">Posted :</span> <span class="post-r">August 10 2017</span></li>
            <li><span class="post-l">Posted by :  </span> <span class="post-r">Staffing Agency</span></li>
            <li><span class="post-l">Expiry : </span> <span class="post-r">15 days</span></li>
            <li><span class="post-l">Location : </span> <span class="post-r">Thiruvananthapuram</span></li>
            <li><span class="post-l">Experience :</span> <span class="post-r"> 5 years</span></li>
            <li class="skill-li"><span class="post-l ">Key skills : </span> <span class="post-r"><span class="skills">Product</span> <span class="skills">Photoshop</span>              <span class="skills"> <a href="#">...</a></span></span>
            </li>
          </ul>

          <div class="bot-list">Applied <span>05</span></div>
          <div class="bot-list">Shortlisted <span>05</span></div>
          <div class="sticker sticker-new"> 10,000</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-item">
          <div class="status st-yellow"> Active </div>
          <h3>Sr. Visual Designer</h3>
          <ul>
            <li><span class="post-l">Posted :</span> <span class="post-r">August 10 2017</span></li>
            <li><span class="post-l">Posted by :  </span> <span class="post-r">Staffing Agency</span></li>
            <li><span class="post-l">Expiry : </span> <span class="post-r">15 days</span></li>
            <li><span class="post-l">Location : </span> <span class="post-r">Thiruvananthapuram</span></li>
            <li><span class="post-l">Experience :</span> <span class="post-r"> 5 years</span></li>
            <li class="skill-li"><span class="post-l ">Key skills : </span> <span class="post-r"><span class="skills">Product</span> <span class="skills">Photoshop</span>              <span class="skills"> <a href="#">...</a></span></span>
            </li>
          </ul>

          <div class="bot-list">Applied <span>05</span></div>
          <div class="bot-list">Shortlisted <span>05</span></div>
          <div class="sticker sticker-new"> 10,000</div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <div class="status st-green"> Active </div>
          <h3>Sr. Visual Designer</h3>
          <ul>
            <li><span class="post-l">Posted :</span> <span class="post-r">August 10 2017</span></li>
            <li><span class="post-l">Posted by :  </span> <span class="post-r">Staffing Agency</span></li>
            <li><span class="post-l">Expiry : </span> <span class="post-r">15 days</span></li>
            <li><span class="post-l">Location : </span> <span class="post-r">Thiruvananthapuram</span></li>
            <li><span class="post-l">Experience :</span> <span class="post-r"> 5 years</span></li>
            <li class="skill-li"><span class="post-l ">Key skills : </span> <span class="post-r"><span class="skills">Product</span> <span class="skills">Photoshop</span>              <span class="skills"> <a href="#">...</a></span></span>
            </li>
          </ul>

          <div class="bot-list">Applied <span>05</span></div>
          <div class="bot-list">Shortlisted <span>05</span></div>
          <div class="sticker sticker-new"> 10,000</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-item">
          <div class="status st-grey"> Closed </div>
          <h3>Sr. Visual Designer</h3>
          <ul>
            <li><span class="post-l">Posted :</span> <span class="post-r">August 10 2017</span></li>
            <li><span class="post-l">Posted by :  </span> <span class="post-r">Staffing Agency</span></li>
            <li><span class="post-l">Expiry : </span> <span class="post-r">15 days</span></li>
            <li><span class="post-l">Location : </span> <span class="post-r">Thiruvananthapuram</span></li>
            <li><span class="post-l">Experience :</span> <span class="post-r"> 5 years</span></li>
            <li class="skill-li"><span class="post-l ">Key skills : </span> <span class="post-r"><span class="skills">Product</span> <span class="skills">Photoshop</span>              <span class="skills"> <a href="#">...</a></span></span>
            </li>
          </ul>

          <div class="bot-list">Applied <span>05</span></div>
          <div class="bot-list">Shortlisted <span>05</span></div>
          <div class="sticker sticker-new"> 10,000</div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--<section class="testimonials">
  <div class="container">
    <h2 class=" text-uppercase text-center"> Testimonials</h2>

    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class=" text-center"><img src="assets/img/avatar-1.jpg" class="img-cirlce" width="60" /></div>
        <p class="text-center"><strong class="text-capitalize">Lorem Ipsum</strong><br>orem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="item">
        <div class=" text-center"><img src="assets/img/avatar-2.jpg" class="img-cirlce" width="60" /></div>
        <p class="text-center"><strong class="text-capitalize">Lorem Ipsum</strong><br>orem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="item">
        <div class=" text-center"><img src="assets/img/avatar-3.jpg" class="img-cirlce" width="60" /></div>
        <p class="text-center"><strong class="text-capitalize">Lorem Ipsum</strong><br>orem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="item">
        <div class=" text-center"><img src="assets/img/avatar-4.jpg" class="img-cirlce" width="60" /></div>
        <p class="text-center"><strong class="text-capitalize">Lorem Ipsum</strong><br>orem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="item">
        <div class=" text-center"><img src="assets/img/avatar-5.jpg" class="img-cirlce" width="60" /></div>
        <p class="text-center"><strong class="text-capitalize">Lorem Ipsum</strong><br>orem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>-->
<guesspage-reg-login></guesspage-reg-login>
<guesspage-footer></guesspage-footer>

<div class="modal fade add-candi home" id="myModal-signup-success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="background:#f7f7f7;padding:0px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6" *ngIf="success" style="padding:22px;">
              Congratulations!!!<br/>
              Your account activation is completed.<br />
              Please click on the login link to sign in.
            </div>
            <div class="col-md-6" *ngIf="error" style="padding:22px;">
              Sorry!!!<br/>
              Something went wrong.<br />
              Please contact support.
            </div>
            <div class="col-md-6 align-middle" style="background:#5C9EED;padding:15px;">
              <div class="cfluid">
                <p class="rowdd text-center"> CVHUNT</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style type="text/css">
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0
    }

    .cfluid {
      height: 100%;
      display: table;
      width: 100%;
      padding: 0;
    }

    .rowdd {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      font-size: 25px;
      font-weight: 600;
    }
  </style>
</div>
