<form class="form-inline" #candidateAddForm="ngForm" name="candidateAddForm" novalidate>
<div id="candidateModal" class="modal fade add-candi" role="dialog">
  <div class="modal-dialog  modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center" style="display:block">
        <h4 class="modal-title ">Add Candidates</h4>
        <p class="tit">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </div>
      <div class="modal-body addcandidate-user" style="background:#f7f7f7;padding-left:20px; padding-right:20px;font-size:11px;">
        <div class="container">
          <div class="row">
            <div class="[ col-xs-12 col-sm-offset-12 col-sm-12 ]" style="background:none;">
              <div class="[ panel panel-default ] panel-google-plus" style="background:none; border:none;">
                <div class="panel-heading" style="background:none;">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          #candidatename="ngModel"
                          [(ngModel)]="candidate.candidatename" 
                          name="candidatename" required>
                          <label for="form1" [attr.class]="candidate.candidatename ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Name</label>
                          <div *ngIf="!candidatename?.valid && (candidatename?.dirty ||candidatename?.touched)" class="input-valid-error">
                            <div [hidden]="!candidatename.errors.required">
                              Name is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" 
                          name="mobileno" minlength="10" pattern="[0-9]{10}"
                          #mobileno="ngModel"
                          [(ngModel)]="candidate.mobileno"
                          mdbInputDirective class="form-control" required>
                          <label for="form1" [attr.class]="candidate.mobileno ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Mobile</label>
                          <div *ngIf="!mobileno?.valid && (mobileno?.dirty ||mobileno?.touched)" class="input-valid-error">
                              <div [hidden]="!mobileno.errors.required">
                                Mobile Number is required.
                              </div>
                              <div [hidden]="!mobileno.errors.minlength">
                                Mobile Number length should be {{mobileno.errors.minlength?.requiredLength}}.
                              </div>
                              <div [hidden]="!mobileno.errors.pattern">
                                Mobile Number is not valid.
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control" required
                          name="primaryskills"
                          #primaryskills="ngModel"
                          [(ngModel)]="candidate.primaryskills">
                          <label for="form1" [attr.class]="candidate.primaryskills ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Primary Skills</label>
                          <div *ngIf="!primaryskills?.valid && (primaryskills?.dirty ||primaryskills?.touched)" class="input-valid-error">
                            <div [hidden]="!primaryskills.errors.required">
                                Primary Skill is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control" required
                          name="secondaryskills"
                          #secondaryskills="ngModel"
                          [(ngModel)]="candidate.secondaryskills">
                          <label for="form1" [attr.class]="candidate.secondaryskills ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Secondary Skills</label>
                          <div *ngIf="!secondaryskills?.valid && (secondaryskills?.dirty ||secondaryskills?.touched)" class="input-valid-error">
                            <div [hidden]="!secondaryskills.errors.required">
                                Secondary Skill is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text"
                          name="yearof_exp" mdbInputDirective class="form-control" required
                          #yearof_exp="ngModel"
                          [(ngModel)]="candidate.yearof_exp">
                          <label for="form1" [attr.class]="candidate.yearof_exp ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Years of Exp.</label>
                          <div *ngIf="!yearof_exp?.valid && (yearof_exp?.dirty ||yearof_exp?.touched)" class="input-valid-error">
                            <div [hidden]="!yearof_exp.errors.required">
                                Years of Exp. is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text"
                          name="rel_years_primary_skills" mdbInputDirective class="form-control" required
                          #rel_years_primary_skills="ngModel"
                          [(ngModel)]="candidate.rel_years_primary_skills">
                          <label for="form1" [attr.class]="candidate.rel_years_primary_skills ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Relevent Primary Skill Exp.</label>
                          <div *ngIf="!rel_years_primary_skills?.valid && (rel_years_primary_skills?.dirty ||rel_years_primary_skills?.touched)" class="input-valid-error">
                            <div [hidden]="!rel_years_primary_skills.errors.required">
                                Relevent Primary Skill Exp. is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="currentcompany"
                          #currentcompany="ngModel"
                          [(ngModel)]="candidate.currentcompany">
                          <label for="form1" [attr.class]="candidate.currentcompany ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Current Company</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="previouscompany"
                          #previouscompany="ngModel"
                          [(ngModel)]="candidate.previouscompany">
                          <label for="form1" [attr.class]="candidate.previouscompany ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Previous Company</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text"
                          name="currentlocation" required
                          #currentlocation="ngModel"
                          [(ngModel)]="candidate.currentlocation">
                          <label for="form1" [attr.class]="candidate.currentlocation ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Current Location</label>
                          <div *ngIf="!currentlocation?.valid && (currentlocation?.dirty ||currentlocation?.touched)" class="input-valid-error">
                            <div [hidden]="!currentlocation.errors.required">
                                Current Location is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control" required
                          name="preferedlocation"
                          #preferedlocation="ngModel"
                          [(ngModel)]="candidate.preferedlocation">
                          <label for="form1" [attr.class]="candidate.preferedlocation ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Prefered Location</label>
                          <div *ngIf="!preferedlocation?.valid && (preferedlocation?.dirty ||preferedlocation?.touched)" class="input-valid-error">
                            <div [hidden]="!preferedlocation.errors.required">
                                Prefered Location is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="timetocall"
                          #timetocall="ngModel"
                          [(ngModel)]="candidate.timetocall">
                          <label for="form1" [attr.class]="candidate.timetocall ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Time to Call</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="currentaddress" required
                          #currentaddress="ngModel"
                          [(ngModel)]="candidate.currentaddress">
                          <label for="form1" [attr.class]="candidate.currentaddress ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Address</label>
                          <div *ngIf="!currentaddress?.valid && (currentaddress?.dirty ||currentaddress?.touched)" class="input-valid-error">
                            <div [hidden]="!currentaddress.errors.required">
                              Address is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="previousaddress"
                          #previousaddress="ngModel"
                          [(ngModel)]="candidate.previousaddress">
                          <label for="form1" [attr.class]="candidate.previousaddress ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Previous Address</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="date" mdbInputDirective class="form-control"
                          name="dob" required
                          #dob="ngModel"
                          [(ngModel)]="candidate.dob">
                          <label for="form1" class="mdb-label-input-custom active">DOB</label>
                          <div *ngIf="!dob?.valid && (dob?.dirty ||dob?.touched)" class="input-valid-error">
                            <div [hidden]="!dob.errors.required">
                              DOB is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" minlength="10" pattern="[0-9]{10}"
                          name="alternate_no" mdbInputDirective class="form-control"
                          #alternate_no="ngModel"
                          [(ngModel)]="candidate.alternate_no">
                          <label for="form1" [attr.class]="candidate.alternate_no ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Alternate Mobile</label>
                          <div *ngIf="!alternate_no?.valid && (alternate_no?.dirty ||alternate_no?.touched)" class="input-valid-error">
                            <div [hidden]="!alternate_no.errors.minlength">
                              Mobile Number length should be {{alternate_no.errors.minlength?.requiredLength}}.
                            </div>
                            <div [hidden]="!alternate_no.errors.pattern">
                              Mobile Number is not valid.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control" required
                          name="emailid"
                          #emailid="ngModel"
                          [(ngModel)]="candidate.emailid">
                          <label for="form1" [attr.class]="candidate.emailid ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Email</label>
                          <div *ngIf="!emailid?.valid && (emailid?.dirty ||emailid?.touched)" class="input-valid-error">
                            <div [hidden]="!emailid.errors.required">
                              Email is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="skypeid"
                          #skypeid="ngModel"
                          [(ngModel)]="candidate.skypeid">
                          <label for="form1" [attr.class]="candidate.skypeid ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Skype Id</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="industry"
                          #industry="ngModel"
                          [(ngModel)]="candidate.industry">
                          <label for="form1" [attr.class]="candidate.industry ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Industry</label>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="date" mdbInputDirective class="form-control"
                          name="last_working_day"
                          #last_working_day="ngModel"
                          [(ngModel)]="candidate.last_working_day">
                          <label for="form1" [attr.class]="candidate.last_working_day ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Last Working Day</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="notice_period"
                          #notice_period="ngModel"
                          [(ngModel)]="candidate.notice_period">
                          <label for="form1" [attr.class]="candidate.notice_period ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Notice Period</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="fbprofid"
                          #fbprofid="ngModel"
                          [(ngModel)]="candidate.fbprofid">
                          <label for="form1" [attr.class]="candidate.fbprofid ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Facebook Link</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control" 
                          name="twitterprofid"
                          #twitterprofid="ngModel"
                          [(ngModel)]="candidate.twitterprofid">
                          <label for="form1" [attr.class]="candidate.twitterprofid ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Twitter</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="linkedinprofid"
                          #linkedinprofid="ngModel"
                          [(ngModel)]="candidate.linkedinprofid">
                          <label for="form1" [attr.class]="candidate.linkedinprofid ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Linkedin Id</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="language"
                          #language="ngModel"
                          [(ngModel)]="candidate.language">
                          <label for="form1" [attr.class]="candidate.language ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Language</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control" required
                          name="qualification"
                          #qualification="ngModel"
                          [(ngModel)]="candidate.qualification">
                          <label for="form1" [attr.class]="candidate.qualification ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Qualification</label>
                          <div *ngIf="!qualification?.valid && (qualification?.dirty ||qualification?.touched)" class="input-valid-error">
                            <div [hidden]="!qualification.errors.required">
                              Qualification is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="certification"
                          #certification="ngModel"
                          [(ngModel)]="candidate.certification">
                          <label for="form1" [attr.class]="candidate.certification ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Certification</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="passport"
                          #passport="ngModel"
                          [(ngModel)]="candidate.passport">
                          <label for="form1" [attr.class]="candidate.passport ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Passport</label>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control" required
                          name="domain"
                          #domain="ngModel"
                          [(ngModel)]="candidate.domain">
                          <label for="form1" [attr.class]="candidate.domain ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Domain</label>
                          <div *ngIf="!domain?.valid && (domain?.dirty ||domain?.touched)" class="input-valid-error">
                            <div [hidden]="!domain.errors.required">
                              Domain is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="current_desig"
                          #current_desig="ngModel"
                          [(ngModel)]="candidate.current_desig">
                          <label for="form1" [attr.class]="candidate.current_desig ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Current Designation</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="team_size"
                          #team_size="ngModel"
                          [(ngModel)]="candidate.team_size">
                          <label for="form1" [attr.class]="candidate.team_size ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Team Size</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="expertise"
                          #expertise="ngModel"
                          [(ngModel)]="candidate.expertise">
                          <label for="form1" [attr.class]="candidate.expertise ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Expertise</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control"
                          name="reason_change"
                          #reason_change="ngModel"
                          [(ngModel)]="candidate.reason_change">
                          <label for="form1" [attr.class]="candidate.reason_change ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Reason for Change</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control" required
                          name="currentctc"
                          #currentctc="ngModel"
                          [(ngModel)]="candidate.currentctc">
                          <label for="form1" [attr.class]="candidate.currentctc ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Current CTC</label>
                          <div *ngIf="!currentctc?.valid && (currentctc?.dirty ||currentctc?.touched)" class="input-valid-error">
                            <div [hidden]="!currentctc.errors.required">
                              Current CTC is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po md-form">
                          <input type="text" mdbInputDirective class="form-control" required
                          name="expectedctc"
                          #expectedctc="ngModel"
                          [(ngModel)]="candidate.expectedctc">
                          <label for="form1" [attr.class]="candidate.expectedctc ? 'mdb-label-input-custom active' : 'mdb-label-input-custom'">Expected CTC</label>
                          <div *ngIf="!expectedctc?.valid && (expectedctc?.dirty ||expectedctc?.touched)" class="input-valid-error">
                            <div [hidden]="!expectedctc.errors.required">
                              Expected CTC is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 po">Logo
                          <div class="upload-drop-zone" id="drop-zone" style="height:96px; line-height:96px;">
                            Drop your image here
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center" style="display:block;">
        <button (click)="addCandidate()" [disabled]="!candidateAddForm.valid" type="button" class="btn btn-primary btn-medium rounded" style="color:#fff;padding-left:30px; padding-right:30px">Save</button>
      </div>
    </div>
    <style type="text/css">
      h3 {
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        color: #555
      }

      h5 {
        font-size: 13px;
        font-weight: 600;
        color: #777
      }
    </style>
  </div>
</div>
</form>