<div class="job-item" style="z-index:1000" *ngIf="candidateList.length">
  <div class="acc">
    <form class="form">
      <div class="form-group pull-left">
        <input class="form-control" id="staticEmail2" value="Search" type="text">
      </div>
      <div class="form-group pull-right">
        <button type="button" class="btn btn-default" style="background:#FFFFFF;border:1px solid #ccc">
          <span id="sortDescIcon" class="pull-left" style="display: inline-block;">
            <i class="fa fa-sort-amount-desc"></i>
          </span>
          <span id="sortAscIcon" class="pull-left" style="display:none;">
            <i class="fa fa-sort-amount-asc"></i>
          </span>
        </button>
        <button type="button" class="btn btn-default" style="background:#FFFFFF;border:1px solid #ccc">
          <span id="sortDescIcon" class="pull-left" style="display: inline-block;">
            <i class="fa fa-filter"></i>
          </span>
        </button>
      </div>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th width="18%">Name</th>
          <th width="18%">Experience</th>
          <th width="23%">Phone</th>
          <th width="18%">Email</th>
          <th width="24%">Skills</th>
          <th class="icon-last" width="2%"> </th>
        </tr>
      </thead>
    </table>
  </div>
  <div *ngFor="let candidate of candidateList; let i = index" data-toggle="collapse" [attr.data-target]="'.order'+i" class="acc  shadow">
    <table class="table">
      <tbody>
        <tr>
          <td width="18%">
            <span class="coll-small">Name</span>{{candidate.candidatename}}</td>
          <td width="18%">
            <span class="coll-small">Experience</span>{{candidate.yearof_exp}}</td>
          <td width="23%">
            <span class="coll-small">Phone</span>{{candidate.mobileno}}</td>
          <td width="18%">
            <span class="coll-small">Email</span>{{candidate.emailid}}</td>
          <td width="24%">
            <span class="coll-small">Skill</span>{{candidate.primaryskills}}</td>
          <td class="icon-last" width="2%">
            <i></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div [attr.class]="'collapse order'+i">
      <table class="table">
        <tbody>
          <tr>
            <td width="18%">
              <span class="coll-small">ID</span>{{candidate.candidate_id}}</td>
            <td width="18%">
              <span class="coll-small">Current Designation</span>{{candidate.emailid}}</td>
            <td width="23%">
              <span class="coll-small">Relevant years of experience</span>{{candidate.emailid}}</td>
            <td width="18%">
              <span class="coll-small">Domain</span>{{candidate.emailid}}</td>
            <td width="24%">
              <span class="coll-small">Notice Period</span>{{candidate.emailid}}</td>
            <td class="icon-last" width="2%"> </td>
          </tr>
          <tr>
            <td>
              <span class="coll-small">Current Location</span>{{candidate.emailid}}</td>
            <td>
              <span class="coll-small">Preferred Location</span>{{candidate.emailid}}</td>
            <td>
              <span class="coll-small">Present CTC</span>{{candidate.emailid}}</td>
            <td>
              <span class="coll-small">Expected CTC</span>{{candidate.emailid}}</td>
            <td>
              <span class="coll-small">Highest Qualification</span>{{candidate.emailid}}</td>
            <td class="icon-last"> </td>
          </tr>
          <tr class="hide">
            <td colspan="6">
              <span class="coll-small">Comments</span>
              <input type="text" style="width:85%">
              <button href="" class="btn btn-sm" style="margin-right:15px;margin-left:15px">OK</button>
              <button href="" class="btn btn-sm" style="margin-right:15px" data-toggle="modal" data-target="#myModal2">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>