<footer class="py-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-4 form-s">
        <h2 class="text-center">invite people</h2>
        <form class="form-inline">
          <div class="form-group mx-sm-3">
            <label for="staticEmail2" class="sr-only">Email</label>
            <input type="text" class="form-control " id="staticEmail2" value="name@gmail.com">
          </div>

          <button type="submit" class="btn btn-primary"> Invite</button>
        </form>
      </div>
    </div>

    <div class="row justify-content-md-center bg-f">
      <div class="col-md-4">
        <h4>CV Hunt</h4>
        <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.</p>
        <i class="fa fa-twitter"></i> &nbsp;&nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-instagram"></i></div>
      <div
        class="col-md-6">
        <div class="row">
          <div class="col-3">
            <h4>Menu </h4>
            <ul>
              <li>Link 1</li>
              <li>Link 1</li>
              <li>Link 1</li>
            </ul>
          </div>
          <div class="col-3">
            <h4>Menu </h4>
            <ul>
              <li>Link 1</li>
              <li>Link 1</li>
              <li>Link 1</li>
            </ul>
          </div>
          <div class="col-3">
            <h4>Menu </h4>
            <ul>
              <li>Link 1</li>
              <li>Link 1</li>
              <li>Link 1</li>
            </ul>
          </div>
          <div class="col-3">
            <h4>Menu </h4>
            <ul>
              <li>Link 1</li>
              <li>Link 1</li>
              <li>Link 1</li>
            </ul>
          </div>
        </div>
    </div>

  </div>
  <p class="m-0 text-center copy">All rights reserved <br> Copyright © 2017</p>
  </div>
  <!-- /.container -->
</footer>